* {
    margin: 0;
    padding: 0;
}

.nav-list a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-list a:hover{
    opacity: 0.7;
}

.logo{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 10vh;
}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

#Inicio{
    background-image: url(/img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #47a1b8;
    background-size: cover; 
    height: 85vh;
}

html{
    scroll-behavior: smooth;
}


#Inicio h1{
    background-color: #000000;
    padding: 10px;
    border-radius: 11px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Inicio p{
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;

}
    

#Sobre {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

#Sobre div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}

#Sobre h2, #Sobre h3, #Sobre p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Projetos{
    display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

#Projetos .class-1{
    display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #23232e;
    padding: 10px;
    border-radius: 11px;
}

#Projetos .slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navgation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #47a1b8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #23232e;
}

#Projetos h2, #Projetos p{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navgation-auto div{
    border: 2px solid #47a1b8;
    padding: 5px;
    border-radius: 10px ;
    cursor: pointer;
    transition: 1s;
}

.navgation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navgation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navgation-auto .auto-btn1{
    background-color: #23232e;
}

#radio2:checked ~ .navgation-auto .auto-btn2{
    background-color: #23232e;
}

#radio3:checked ~ .navgation-auto .auto-btn3{
    background-color: #23232e;
}

#radio4:checked ~ .navgation-auto .auto-btn4{
    background-color: #23232e;
}

#contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
}

#contato img{
    padding: 16px;
}

#contato a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    border-radius: 6px;
    background-color: #23232e;
}

#contato a:hover{
    opacity: 0.7;
}

#contato h2, #contato p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #23232e;
	color: #FFFFFF;
}

footer a {
			text-decoration: none;
			color: #47a1b8;
}


@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    
    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2{
        opacity: 0;
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }
}

@media screen and (min-width: 768px){
    #Inicio h1{
        margin-top: 27vh;
    }

    #Sobre {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 1000px;
		margin: 0 auto;

	}

	#Sobre h2 {
		text-align: center;
		width: 100%;
	}

	#Sobre div {
		flex-grow: 1;
		flex-basis: 150px;
		padding: 0 10px;
	}

    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2, #contato p{
        width: 100%;
    }
}